<div class="flex flex-col gap-4">
  <div class="flex gap-10">
    <div class="border border-black rounded-xl p-10">
      <bakery-left></bakery-left>
    </div>
    <div class="border border-black rounded-xl p-10">
      <bakery-right></bakery-right>
    </div>
    <!-- <div class="border border-black rounded-xl p-10">
      <bakery-right></bakery-right>
    </div> -->
  </div>

  <h2 class="text-xl font-semibold">Best Sellers</h2>
  <div
    class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-x-2 gap-y-8"
  >
    @if (productsError()){
    <div>{{ productsError() }}</div>
    } @for (product of products(); track product.id){
    <bakery-card [product]="product"></bakery-card>
    }
  </div>
</div>
