<div class="flex gap-10 flex-col max-w-screen-md m-auto items-center">
  <h2 class="text-xl font-semibold">Cart</h2>

  <div class="">
    <div
      class="grid grid-cols-[6rem_1fr_1fr_1fr_1fr_0.5fr] p-2 items-center justify-items-center gap-x-4"
    >
      <div class="col-start-2">Product</div>
      <div>Quantity</div>
      <div>Price</div>
      <div>Total</div>

      @for (cartItem of (cartItems()); track cartItem.product.id){
      <bakery-cart-item
        [cartItem]="cartItem"
        class="col-start-1 col-span-6 w-full"
      ></bakery-cart-item>
      }

      <div class="col-start-6">Total:</div>
    </div>
  </div>
</div>
