<div
  class="grid grid-rows-[4fr_auto] h-96 gap-2 hover:bg-backgroundDark hover:rounded-lg"
>
  <img
    [src]="product.image"
    class="object-cover object-center h-full w-full overflow-hidden hover:cursor-pointer"
    [routerLink]="['/products', product.id]"
  />
  <div class="flex justify-between items-center p-2">
    <div class="">
      <h3 class="text-lg">{{ product.title }}</h3>
      <div class="text-sm text-stone-500">
        {{ product.price | currency : "EUR" }}
      </div>
    </div>
    <div class="flex justify-center gap-3">
      <button (click)="toggleFavorite()" class="w-5">
        @if ((isFavorite$ | async) === true){
        <fa-icon [icon]="faHeart" size="lg" class="text-secondary"></fa-icon>
        } @else {
        <fa-icon
          [icon]="faHeartCirclePlus"
          size="lg"
          class="hover:text-secondary text-stone-500"
        ></fa-icon>
        }
      </button>
      <button (click)="addToCart()">
        <fa-icon
          [icon]="faCartPlus"
          size="lg"
          class="hover:text-secondary text-stone-500"
        ></fa-icon>
      </button>
    </div>
  </div>
</div>
